.site-page-header {
  border: 1px solid rgb(235, 237, 240);
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.ant-page-header-heading {
  display: flex;
  justify-content: space-between;
}

.ant-page-header-heading-left {
  display: flex;
  align-items: center;
  margin: 4px 0;
  overflow: hidden;
  min-width: 182px;
}

.ant-page-header-compact .ant-page-header-heading {
  flex-wrap: nowrap;
}

.ant-page-header-heading-extra {
  width: calc(100vw - 206px);
  max-width: 361px;
}

.ant-space {
  display: block;
}

.ant-menu-horizontal {
  line-height: 46px;
  border: 0;
  box-shadow: none;
  justify-content: flex-end;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  margin-top: -1px;
  margin-bottom: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active{
  color: black;
}