.landing {
  background: rgb(0,0,0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: calc(100vh - 87px);
  text-align: center;
  color: white;
}

.landing .particles {
  position: absolute;
  top: 87px;
  left: 0;
  width: 100%;
  height: calc(100vh - 87px);
  z-index: 0;
}
